
.h2aboutUs{
   color: var(--MainColor);
   text-align: left;
   font-size: 33px;
   font-family: var(--titleFont);
   text-decoration: underline;
   padding: 30px 5px 5px 50px; /*t r b l*/
}
.paragAboutus{
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    font-family: var(--textFont);
    font-size: 20px;
    font-weight: bold;
    color: var(--MainColor);
    line-height: 2;
    animation: shadow1 2s infinite alternate;
}
.h2peoplesthought{
    color: var(--MainColor);
   text-align: left;
   font-size: 33px;
   font-family: var(--titleFont);
   padding: 20px 5px 5px 50px;
   text-decoration: underline;
}
.Pabovefeedback{
    font-family:var(--headerFont1);
    text-align: left;
    font-size: 30px;
    color: var(--secondaryColor);
    font-weight:500;
    margin-left: 10%;
    margin-bottom: 10px;
    animation: shadow2 2s infinite alternate;
}
.Punderfeedback{
    font-family: var(--headerFont1);
    text-align: center;
    font-size: 25px;
    color: var(--MainColor75);
    margin-bottom: 5%;
    animation: shadow1 2s infinite alternate;
}

@keyframes shadow1 {
    0% {
        text-shadow: none;
    }
    100% {
        text-shadow: 3px 3px 5px var(--secondaryColor);
    }
}
@keyframes shadow2 {
    0% {
        text-shadow: none;
    }
    100% {
        text-shadow: 2px 2px 3px var(--MainColor);
    }
}