.Container{
    margin: 100px 60px 60px 60px;
    border: 2px solid var(--secondaryColor);
    box-shadow: 2px 2px 10px var(--secondaryColor);
    border-radius: 20px;
}
.h1{
    color:var(--secondaryColor);
    font-family:var(--headerFont3);
    text-align: start;
    margin-left:3%;
}
.mainForm{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left:3%;
}
.form{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left:3%;
    border-bottom: 1px solid var(--secondaryColor);
}
.leftForm{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.rightForm{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 40px;
    /* border-left:2px solid var(--secondaryColor); */
}
.subForms{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonsForm{
    display: flex;
    width:100%;
    justify-content: space-around;
    align-items: center;
}
.centerButtons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.IndexedLabel{
    color:var(--secondaryColor);
}
.Textarea{
    width:500px;
    margin:0%;
    height:270px;
    border: 1px solid var(--secondaryColor);
    background-color: var(--graycolor);
    font-family: var(--textFont);
    color: var(--mainColor);
    text-align: left;
    border-radius: 15px;
    max-height: 260px;
    overflow:hidden;
}
.CancelButton{
    border: 1px solid var(--secondaryColor);
    background-color: var(--graycolor);
    color:var(--mainColor);
    text-decoration: none;
    display: block;
    width:100px;
    height:20px;
    padding:9px;
    border-radius: 20px;
    margin:20px;
}
.CancelButton:hover{
    text-decoration: underline;
}