.formsendfeedback {
    margin-bottom: 20px;
  }

  .sendfeedbackcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .textareafeedback {
    width: 80%;
    padding: 13px 13px 13px 17px;
    border-radius: 20px;
    background-color: var(--textArea);
    border: 1px solid transparent;
    resize: vertical;
    margin-left:5px;
    position: relative;
    outline: none;
    resize: none;
  }
  
  .buttonfeedback {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    right: 7%;
    
  }