@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Andada+Pro&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Handlee&family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita&display=swap');

:root {
    --MainColor:#153040;
    --mainColor75:rgb(49,82,91,75%);
    --secondaryColor:#FFA101;
    --graycolor:#F5F5F5;
    --textArea:rgba(49, 82, 91, 0.13);
    --textFont: "Andada Pro";
    --titleFont:"Alice";
    --headerFont1:"Cookie";
    --headerFont2:"Handlee";
    --headerFont3:"Homemade Apple";
    --mango:"Amita";
  }
