@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    --mainColor: #31525B;
    --mainColor75:rgb(49,82,91,75%);
    --secondaryColor:#FFA101;
    --textFont: Andada Pro;
  }
.dropdown  {
    width:130px;
    height: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--secondaryColor);
    appearance: none ;
    border-radius: 5px;
    background-image:  url(../../assets/Icons/arrow-down.svg) ;
    background-repeat: no-repeat;
    background-position: 95% center;
    background-color: #F5F5F5;
    color:var(--mainColor75); 
    padding-left: 10px;
    padding-right: 25px;
    font:var(--textFont);
}
.clicked:focus-visible{
    outline: none;
    outline-color: var(--secondaryColor);
    transition: 0.15s ease-in-out;
}
.clicked{
    border: 1px solid var(--secondaryColor)!important;
    background-color: #F5F5F5 !important;
    color:var(--mainColor75) !important; 
}
.options{
    color:var(--mainColor75);
    background-color: #F5F5F5;
}
