:root {
    --mainColor: #31525B;
    --mainColor75:rgb(49,82,91,75%);
    --secondaryColor:#FFA101;
  }
.dropdown  {
    width:6%;
    height: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--secondaryColor);
    appearance: none ;
    border-radius: 5px;
    background-image:  url(../../assets/Icons/arrow-down.svg) ;
    background-repeat: no-repeat;
    background-position: 65px center;
    background-color: #F5F5F5;
    color:var(--mainColor75); 
}
.clicked:focus-visible{
    outline: none;
    outline-color: var(--secondaryColor);
    transition: 0.15s ease-in-out;
}
.clicked{
    border: 1px solid var(--secondaryColor)!important;
    background-color: #F5F5F5 !important;
    color:var(--mainColor75) !important; 
}
.options{
    color:var(--mainColor75);
    background-color: #F5F5F5;
}
.options:hover{
    color:black;
    background-color: #F5F5F5;
}
