.footer{
  display : flex;
  justify-content: space-between; /* Move the links to the right */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  align-items: center ;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3); /* Add a box shadow */
  background-color: #31525B;
  color: hsl(0, 0%, 100%);
  padding: 10px 0;
  width: 100%;
  margin-top: 10px;
  height: 25px;
  bottom: 0;
  transition: background-color 0.4s ease-in-out;
}
.footlist {
  list-style: none;
  padding: 10px;
  margin: 20px;
  display: flex;
}
.footLeft {
  display: flex;
  align-items: center;
  order: 0; /* Change the order to 1 to move it to the beginning */
  justify-content: space-between;
}
.websiteName {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}
.footermiddle{
  display: flex;
  align-items: center;
  order: 0; /* Change the order to 1 to move it to the beginning */
  justify-content: space-between;

}
/* Styles for links in the navbar */
.footitem a {
  text-decoration: none;
  margin-right: 40px;
  color: #ffffff;  
  transition: color 0.4s ease-in-out;
}
.footitem a:hover {
  color: #FFA101; /* Change the color when hovering over any link to yellow */
}

/* Add active effect (when clicking) */
.footitem a:active {
  color: #FFA101; /* Change the color when clicking on any link to orange */
}
.footlink a:visited {
color: #FFA101;
}
.footink {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 8px;
  text-decoration-color: #ffffff;
  color: #ffffff;
}
