
/* Styles for the navbar container */
.navbar {
    display : flex;
    justify-content: space-between; /* Move the links to the right */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center ;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3); /* Add a box shadow */
    background-color: #31525B;
    color: hsl(0, 0%, 100%);
    padding: 5px 0;
    position: fixed;
    width: 100%;
    margin-bottom: 0px;
    height: 50px;
    top: 0%;
    transition: background-color 0.4s ease-in-out;
  }
  .navbar.scrolled{
    background-color: #FFA101;
    opacity: 0.98;
  }
  /* Styles for the navigation list */
  .nav-list {
    list-style: none;
    padding: 10px;
    margin: 20px;
    display: flex;
  }
 
  .headerLeft {
    display: flex;
    align-items: center;
    order: 0; /* Change the order to 1 to move it to the beginning */
    justify-content: space-between;
  }
  
  /* Styles for the website name */
  .websiteName {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
  }
  .headermiddle{
    display: flex;
    align-items: center;
    order: 0; /* Change the order to 1 to move it to the beginning */
    justify-content: space-between;

  }
  /* Styles for links in the navbar */
  .navItem a {
    text-decoration: none;
    margin-right: 40px;
    color: #ffffff;  
    transition: color 0.4s ease-in-out;
  }
  .navbar.scrolled .navItem a{
    color :#31525B;
  }
  .loginIcon:hover{
    color:#FFA101;
  }
  .navItem a:hover {
    color: #FFA101; /* Change the color when hovering over any link to yellow */
  }
  .navItem{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Add active effect (when clicking) */
  .navItem a:active {
    color: #FFA101; /* Change the color when clicking on any link to orange */
  }
  .navLink a:visited {
  color: #FFA101;
}
/* Define the activeLink class for active links */
.activeLink {
  color: #FFA101; /* Set the color to orange for active links */
}


  
  /* Styles for links in the navbar */
  .nav-links {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 8px;
    text-decoration-color: #ffffff;
    color: #ffffff;
  }
  .loginLink{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  /* Media query for responsive design */
  @media (max-width: 768px) {
    .nav-list {
      flex-direction: column;
    }
  
    .nav-item {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

